---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero3.astro';
import { headerData2 } from '~/navigation';
const metadata = {
  title: 'Games Zone',
};

const games = [
  {
    title: 'Unny Shooter2',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/894abba63a6b23fed823f404831f444f.jpeg',
    link: 'https://poki.com/en/g/funny-shooter-2',
  },
  {
    title: 'SuperLiquidSoccer',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/6ed4fe5c596152a83c39b738e8ac379d.png',
    link: 'https://poki.com/en/g/super-liquid-soccer',
  },
  {
    title: 'Stickman Archero Fight',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/5bbd79a5017ee10d2ec9cd7230cc4d39.png',
    link: 'https://poki.com/en/g/stickman-archero-fight',
  },
  {
    title: 'Temple Run 2',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/b5c8b617f65be7cc4d56dd3657590ae7.png',
    link: 'https://poki.com/en/g/temple-run-2',
  },
  {
    title: 'Blaze Drifter',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/aa36401385a23a7c1a8e1ed3023d2f37.png',
    link: 'https://poki.com/en/g/blaze-drifter',
  },
  {
    title: 'Vectaria.io',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/260f3251a55c78a27fd15b9e4d675f88.png',
    link: 'https://poki.com/en/g/vectaria-io',
  },
  {
    title: 'Hills of Steel',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/e8a5f2eda2e5340e8ded263692835caa.png',
    link: 'https://poki.com/en/g/hills-of-steel',
  },
  {
    title: '2048',
    image: 'https://img.poki-cdn.com/cdn-cgi/image/quality=78,width=320,height=320,fit=cover,f=auto/cb8c967c-4a78-4ffa-8506-cbac69746f4f.png',
    link: 'https://poki.com/en/g/2048',
  }
]
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
    {...headerData2} isSticky showRssFeed showToggleTheme
    />

  </Fragment>
  <!-- Hero Section -->
  <Hero
    image={{ src: 'https://metadata-images.nintendoswitch.com.cn/formal/8283809551597-4FF871DF-0D83-8ACD-2494-356F6D9C0E90-%E5%8D%A1%E6%AF%94%E5%AE%98%E7%BD%91%E5%9B%BE-3963-1512-2.jpg?imageMogr2/format/webp/quality/100', alt: 'Kirby' }}
    title="Kirby Star Allies"
    subtitle="Join your friends on an exciting new adventure!"
  />

  <section class="py-12 px-4 mx-auto max-w-6xl">
    <h2 class="text-3xl font-bold text-center mb-8">Available Games and Tools</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      {games.map(game => (
        <a href={game.link} class="block group">
          <div class="bg-white dark:bg-slate-900 rounded-lg overflow-hidden shadow-lg transition hover:shadow-xl">
            <img src={game.image} alt={game.title} class="w-full h-48 object-cover" />
            <div class="p-4">
              <h3 class="text-lg font-semibold group-hover:text-primary">{game.title}</h3>
            </div>
          </div>
        </a>
      ))}
    </div>
  </section>

</Layout>
